<h2>Homepage</h2>

<form method="get" action="/songs/search">
    <button type="submit">Search Songs</button>
  </form>

  <form method="get" action="/profile">
    <button type="submit">See Profile</button>
  </form>


 