<!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.101.0">
      <title>SongSearch</title>
  
      <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
  
      
  
      
  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

     
  
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
  
        .b-example-divider {
          height: 3rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
  
        .b-example-vr {
          flex-shrink: 0;
          width: 1.5rem;
          height: 100vh;
        }
  
        .bi {
          vertical-align: -.125em;
          fill: currentColor;
        }
  
     
      </style>
  
      
      <!-- Custom styles for this template -->
      <link href="/css/carousel.css" rel="stylesheet">
    </head>
    <body>
      

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100" src="https://vacationvinyl.com/wp-content/uploads/2021/09/77157374_l-1024x576-2.jpeg" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                      <h1 style="color: rgb(248, 201, 127);">Welcome to SongSearch</h1>
                      <p>The best place on the web to dig through the crates and showoff your unique taste!</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" src="https://blog.electrohome.com/wp-content/uploads/2014/11/buy-vinyl-records-1.jpg" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 style="color: rgb(248, 201, 127);">Search any Song or Artist</h1>
                    <p>Head over to the search page to find thousands of songs from your favorite artists.</p>
                </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" src="https://data.whicdn.com/images/343600508/original.jpg" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h1 style="color: rgb(248, 201, 127);">Craft Unique Playlists</h1>
                    <p>Curate your own "Favorites" and "Dislikes" playlists to showoff your unique taste. </p>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><a href="/songs/search">Search </a>through thousands of songs. <span class="text-muted">If you've heard it, we have it.</span></h2>
          <p class="lead">Search for your favorite songs by title or artist. Add songs you love to your favorites. Add songs you hate to your dislikes.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" src="https://blog.njm.com/10-diy-projects-for-your-old-vinyl-records/-/media/njm/blog-page/10-diy-projects-for-old-vinyl-records-summary.jpg">
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Curate a playlist of your <a href="/songs/favorites"> Favorite</a> songs. <span class="text-muted">All in one place.</span></h2>
          <p class="lead">Handcraft a collection of your favorite songs, from all your favorite artists. You've always bragged about your amazing taste... so let's see it.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" src="https://www.julietrecords.com/wp-content/uploads/2020/10/Juliet_Princess-Pouty-Remixes-500x500.jpeg">

        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Collect a scrapyard of your most <a href="/songs/dislikes">Disliked</a> songs. <span class="text-muted">A junkyard of jams if you will.</span></h2>
          <p class="lead">All of the songs that make your ears bleed. All in one place. To never be heard again... or so I hope.</p>
        </div>
        <div class="col-md-5">
         <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" src="https://i1.sndcdn.com/artworks-9lyvvOfmaUFIrckO-ysuvyQ-t500x500.jpg">
         
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      
    </footer>
  </main>
  
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"></script>
  
        
    </body>
  </html>