<div class="d-flex flex-row-reverse">
  <% if (!currentUser) {%>
      <div class="p-2"><a href="/auth/signup">Signup</a></div>
      <div class="p-2"><a href="/auth/login">Login</a></div>
  <% } else { %>
      <div class="p-2"><a href="/auth/logout">Logout</a></div>
      <div class="p-2"><a href="/profile">Profile</a></div>
  <% } %>
  </div>
    <%- body %> 

