<h1>SEARCH PAGE</h1>

<form method="get" action="/results">
    <input type="text" name="name" value=" ">
    <button type="submit">Search</button>
  </form>

  <form method="get" action="/">
    <button type="submit">Back to Homepage</button>
  </form>