<h1>SEARCH PAGE</h1>

<form method="POST" action="/songs/results">
    <input type="text" id="search" name="search" value="">
    <button type="submit">Search</button>
  </form>

  <form method="get" action="/">
    <button type="submit">Back to Homepage</button>
  </form>