<h1>This shows 1 song</h1>

<form method="get" action="/songs/dislikes">
    <button type="submit">Back to dislikes</button>
  </form>

<h2><%= badSong.title %> </h2>
<h3><%= badSong.artist %> </h3>
<img src=<%= badSong.imageURL %> >
<a href="<%= badSong.lyrics %>" target="_blank">Lyrics</a> 